body {
	padding-left:50px;
	padding-right:50px;
}
table {
	width: 50%;
	border-top: solid black 2px;
	border-bottom: solid black 2px;
	border-left: solid black 2px;
	text-align: center;
	font-size: 25px;
}
tr {

}
td {
	border-right: solid black 1px;
}
