.routine {
	font-size: 18px;
}
.routines {
	margin: auto;
	width:30%;
	font-size: 24px;
	padding-left: 40px;
	border: solid black 3px;
	padding-bottom: 20px;
}
.info {
	float: left;
	border: solid black 2px;
	padding: 20px;
	font-size: 18px;
}
.deletions {
	display: none;
}

.edits {
	
}
#login {
	margin: auto;
	width: 30%;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	border: solid black 2px;
}
.header {
	width:96%;
	display: inline-block;
	background-color: Snow;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 28px;
	text-align: center;
	border-bottom: solid black 2px;
}

body {
	margin-left: 0px;
	margin-right: 0px;
	background-color: dimgray;
	padding-left: 250px;
	padding-right: 250px;
}

.title {
	text-align: center;
	
}
.middle {
	height:100%;
	width:96%;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	background-color: Snow;
	
}
.bottom {
	margin:auto;
	width:67%;
	background-color: black;
	position:absolute;
	bottom:0;
	height: 200px;
}
