.routine {
	border: solid black 3px;
}

.deletions {
	display: none;
}

.edits {
	
}

.header {
	background-color: gray;
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
}

body {
	margin-left: 200px;
	margin-right: 200px;
	background-color: Snow;
	padding-left: 50px;
	padding-right: 50px;
}

.title {
	text-align: center;
}
.middle {
	padding-top: 100px;
	padding-bottom: 200px;
	background-color: dimgray;
}
.bottom {
	background-color: Snow;
	padding-bottom: 100px;
}
