.routine {
	border: solid black 3px;
	font-size: 18px;
}
.routines {
	float: right;
	position: absolute;
    left: 700px;
	font-size: 24px;
}
.info {
	float: left;
	border: solid black 3px;
	padding: 20px;
	font-size: 18px;
}
.deletions {
	display: none;
}

.edits {
	
}
#login {
	margin: auto;
	width: 30%;
	padding: 20px;
	border: solid black 2px;
}
.header {
	background-color: Snow;
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
	font-size: 28px;
}

body {
	margin-left: 200px;
	margin-right: 200px;
	background-color: Snow;
	padding-left: 50px;
	padding-right: 50px;
}

.title {
	text-align: center;
}
.middle {
	padding-top: 100px;
	padding-bottom: 200px;
	background-color: Snow;
}
.bottom {
	background-color: Snow;
	padding-bottom: 100px;
}
